<% if user_signed_in? %> 
 <div> Welcome <%= current_user.email %> </div> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to 'Sign Up', new_user_registration_path %>
<% end %>

<h1>ExpensesCheck!</h1>
