body {
    margin: 5%;
}

.bi.bi-search::before {
    content: "\f52a";
    color: white;
    font-size: x-large;
    margin-right: 5%;
}

.hstack {
    font-size: 20px;
    font-weight: bold;
    color: grey;
}

.gap-3{
    margin: 2%;
}

.container-fluid {
    font-size: 25px;
    justify-content: space-between;
}

a.navbar {
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.bg-primary {
    padding-right: 4%;
}

.container-fluid {
    justify-content: space-between;
}

.footer {
    margin-top: 5%;
    background-color: rgb(62, 182, 62);
    padding: 4%;
    text-align: center;
}

.mb-5 {
    text-align: center;
    margin: 10%;
}

.btn-outline-primary {
    margin-left: 45%;
}
