body {
    margin: 5%;
}

.bi.bi-search::before {
    content: "\f52a";
    color: white;
    font-size: x-large;
    margin-right: 5%;
}

.container-fluid {
    font-size: 25px;
}

.bg-primary {
    padding-right: 4%;
}

.container-fluid {
    justify-content: space-between;
}