<div id="<%= dom_id expense %>">
  <p>
  <div class="bg-light border"> <%= link_to "Back to categories", categories_path %>
  </div>
  <div class="hstack gap-3">
  <%= expense.title %>
  <div class="ms-auto"><%= expense.price %></div><br>
  </div>
</div>
