<div id="<%= dom_id expense %>">
  <p>
    <strong>Title:</strong>
    <%= expense.title %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= link_to expense.category.name, expense.category %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= expense.price %>
  </p>

</div>
